@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap%27');

    /* 전체로 적용되야 하는 것은 여기서 부터 개별 Tag 위까지 */
    /* link 태그 설정 */
    a:link { color: red; text-decoration: none;}
    a:visited { color: black; text-decoration: none;}

    header{
        height:60px;
    }

    /* header div안에 있는 a Tag의 style 값 */
    header nav div a {
        margin:auto 10px;
        float:left;
    }
    /* header img 태그의 절대크기 */
    header img {
        top: 10px;
        width: 70px;
        float:left;
        margin:auto 10px;
    }
    body {
        font-family: 'Noto Sans KR', sans-serif;
    }

    header div hr {
        position: absolute;
        top: 60px;
        left: -2px;
        width: 100%;

        /* hr스타일 */
        background-color: rgb(0, 0, 0);
        height: 1px;
    }

    /* 개별 Tag(class) 작업은 이곳 밑으로 해주세요 */
    .spread-underline {
        color: #333;
        text-decoration: none;
        display: inline-block;
        padding: 15px 0;
        position: relative;
    }
    .spread-underline:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #353535;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    .spread-underline:hover:after { 
        width: 100%; 
        left: 0; 
    }

    .header-div{
        right: 10px;
        position: absolute;
    }
    .main{
        position:relative;
        background:none;
        width:100vw;
        height:50vw;
    }
    .main::before{
        position:absolute;
        width:100vw;
        height:50vw;
        background-image:url("HatchfulExport-All/20210505_142334.png");
        background-repeat:no-repeat;
        background-position:center center;
        background-size:contain;
        top:0;
        z-index:-1;
        filter:blur(2.5px);
        content:"";
    }
/*footer*/
.blackspace {
    height: 200px;
    position: relative;
    background-color: rgba(25, 25, 25, 0.9)
}
.footer-item-container {
    margin-right: 20px;
}
.footer-c { 
    position: absolute; 
    font-size: 10px; 
    margin: 0; 
    color: #ccc; 
    right: 33px; 
    bottom: 10px; 
} 
.footer-c a { 
    color: #ff7f00; 
    font-weight: bold; 
    text-decoration: none; 
} 
.footer-item { 
    margin-top: 35px !important; 
    margin: 8px; 
    float: right 
} 
.footer-logo { 
    float: left; 
} 
.footer-item a { 
    color: white; 
    margin: 10px; 
    font-size: 15px; 
    text-decoration: none; 
}
.footer-f { 
    position: fixed; 
    bottom: 0; 
    color: white; 
    font-size: 10px; 
    margin-left: 15px; 
} 
.fixed { 
    position: fixed !important; 
    right: 10px !important; 
    bottom: 5px !important; 
}
/* ... */
.topdiv{
    margin:0;
    padding:0;
    top:20vw;
}
.top {
    position:relative;
    text-align: center;
    -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) alternate both;
    animation: focus-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) alternate both;
    font-size: 30px;
    z-index: 0;
}

.top2 {
    position:relative;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 #000,
	       0 1px #000,
	       1px 0 #000,
	       0 -1px #000;
    -webkit-animation: focus-in-contract-bck 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) alternate both;
	        animation: focus-in-contract-bck 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) alternate both; 
    z-index: 0;
}

@-webkit-keyframes focus-in-contract-bck {
    0% {
      top:-25px;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      top:0;
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
}

@keyframes focus-in-contract-bck {
    0% {
      top:-25px;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      top:0;
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
}
/* ... */
    /* 일단 사이트 완성되기 전에 쓸 CSS(사이트 완성되면 지우기) */

    h1.imsi {
        padding-left: 35%;
    }

    p {
        padding-left: 33.5%;
    }
